.wrapper{
    margin-top: 150px;
    margin-bottom: 60px;
}
.card_img{
    height: 250px;
    filter: brightness(0.6);
}
.title{
    text-align: left;
    margin-top: 150px !important;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    color: white;
}
.item_city{
    z-index: -1;
}